.card {
    width: 18rem; 
    background-color: #333; 
    color: #fff; 
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
    padding: 20px; 
    margin: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}


.card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    

}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #00d9ff;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 0;
}


